name: Alpine
on:
  push:
    paths:
      - .github/workflows/alpine.yml
      - shell/**
      - .dockerignore
      - .windows.sh
      - alpine.Dockerfile
  pull_request:
    paths:
      - .github/workflows/alpine.yml
      - shell/**
      - .dockerignore
      - .windows.sh
      - alpine.Dockerfile

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build -f alpine.Dockerfile -t qmcgaw/godevcontainer .

  publish:
    needs: [verify]
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - uses: docker/login-action@v1
        with:
          username: qmcgaw
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set variables
        id: vars
        run: |
          BRANCH=${GITHUB_REF#refs/heads/}
          TAG=${GITHUB_REF#refs/tags/}
          echo ::set-output name=commit::$(git rev-parse --short HEAD)
          echo ::set-output name=build_date::$(date -u +%Y-%m-%dT%H:%M:%SZ)
          if [ "$TAG" != "$GITHUB_REF" ]; then
            echo ::set-output name=version::$TAG
            echo ::set-output name=platforms::linux/amd64,linux/arm64
          elif [ "$BRANCH" = "master" ]; then
            echo ::set-output name=version::latest
            echo ::set-output name=platforms::linux/amd64,linux/arm64
          else
            echo ::set-output name=version::$BRANCH
            echo ::set-output name=platforms::linux/amd64
          fi

      - name: Build and push final image
        uses: docker/build-push-action@v2
        with:
          file: alpine.Dockerfile
          platforms: ${{ steps.vars.outputs.platforms }}
          build-args: |
            BUILD_DATE=${{ steps.vars.outputs.build_date }}
            VCS_REF=${{ steps.vars.outputs.commit }}
            VERSION=${{ steps.vars.outputs.version }}
          tags: |
            qmcgaw/godevcontainer:latest
            qmcgaw/godevcontainer:alpine
          push: true

      - if: github.event_name == 'push' && github.event.ref == 'refs/heads/master'
        name: Microbadger hook
        run: curl -X POST https://hooks.microbadger.com/images/qmcgaw/godevcontainer/v4frfjbWjrt91BFJFuoQejzhzfM=
        continue-on-error: true